<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" width="50px" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      {{ title }}</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-4">
        <ul class="list-group">
          <li
          *ngFor="let employee of employeeArray"
          class="list-group-item list-group-item-action"
          (click)="openForEdit(employee)"
          [class.active]="employee == selectedEmployee"
          >
          <span class="badge badge-primary">{{employee.id}}</span>
          {{ employee.name }} -  {{ employee.country }}
        </li>

        </ul>
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
              Insert a New Employee
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="Inser A Name" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="selectedEmployee.country" placeholder="Inser A Country" class="form-control">
              </div>
              <div class="d-flex justify-content-between">
              <button (click)="addOrEdit()" class="btn btn-primary">
                Submit
              </button>
              <button (click)="delete()" *ngIf="selectedEmployee.id !== 0" class="btn btn-danger ml-auto">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-muted bg-light fixed-bottom">
      <div class="container">
        <p>CRUD example by Wladimir Hernández - 2019</p>
      </div>
    </footer>